pip-tools
poetry
pandas
gymnasium
numpy==1.26.4
torch
stable-baselines3
pyreadline3
guildai
git+https://github.com/martius-lab/pink-noise-rl#egg=pink-noise-rl
git+https://github.com/jkbjh/cn-ppo-paper-code.git#egg=cnppo
git+https://github.com/jkbjh/guild-utils#egg=guild_utils
swig
dm_control
git+https://github.com/zuoxingdong/dm2gym.git
gymnasium[box2d]
seaborn
imageio
